{behavior:url(js/PIE.htc);position:relative;}
.box2_it{
	padding-bottom: 10px;
}
.quote_box figure img{
	border: none;
}
.list2{
	width: 765px;
}
.list1{padding-bottom: 168px;}
div[class^="description"]{
	display: none;
}
[class^="steps_it"]:hover div[class^="description"]{
	display: block;
}